@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-padding-top: 2rem;
  transition: all 0.3s;
}
/* Variables */
:root {
  --main-color: #74512d;
  --text-color: #af8f6f;
  --bg-color: #f8f4e1;
}

html {
  scroll-behavior: smooth;
}

/* Scrollbar */
html::-webkit-scrollbar {
  width: 0.8rem;
  background: var(--main-color);
}

html::-webkit-scrollbar-thumb {
  background: var(--text-color);
  border-radius: 5rem;
}

body {
  background: #140e0a;
  color: var(--bg-color);
}

section {
  padding: 4.5rem 0 1.5rem;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
  transition: 0.5s;
}

header.shadow {
  background: var(--bg-color);
  box-shadow: 0 0 4px rgb(14 55 54 / 15%);
}

header.shadow .navbar a {
  color: var(--text-color);
}

header.shadow .logo {
  color: var(--text-color);
}

.logo {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--bg-color);
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.logo .bx {
  font-size: 24px;
  color: var(--main-color);
}

.navbar {
  display: flex;
  column-gap: 5rem;
}

.navbar li {
  position: relative;
}

.navbar a {
  font-size: 1rem;
  font-weight: 500;
  color: var(--bg-color);
}

.navbar a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: var(--main-color);
  position: absolute;
  bottom: -4px;
  left: 0;
  transition: 0.3s all linear;
}

.navbar a:hover::after,
.navbar .home-active::after {
  width: 100%;
}

#menu-icon {
  font-size: 24px;
  cursor: pointer;
  z-index: 1000001;
  display: none;
}

.btn {
  padding: 0.7rem 1.4rem;
  background: var(--main-color);
  color: var(--bg-color);
  font-weight: 400;
  border-radius: 0.5rem;
}

.btn:hover {
  background: var(--main-color);
  opacity: 0.97;
}

.container {
  width: 100%;
  min-height: 930px;
  position: relative;
  display: flex;
  align-items: center;
  background: rgb(2, 3, 7, 0.4);
}

.container img,
.container video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

.swiper-pagination-bullet {
  width: 6px !important;
  height: 6px !important;
  border-radius: 0.2rem !important;
  background: var(--bg-color) !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  width: 1.5rem !important;
  background: var(--main-color) !important;
}

.home-text {
  z-index: 1000;
  padding: 300px 150px;
}

.home-text span {
  color: var(--bg-color);
  font-weight: 500;
  text-transform: uppercase;
}

.home-text h1 {
  color: var(--bg-color);
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.play {
  position: absolute;
  right: 4rem;
  bottom: 10%;
}

.play .bx {
  background: var(--bg-color);
  padding: 10px;
  font-size: 2rem;
  border-radius: 50%;
  border: 4px solid rgb(2, 3, 7, 0.4);
  color: var(--main-color);
}

.play .bx:hover {
  background: var(--main-color);
  color: var(--bg-color);
  transition: 0.2s all linear;
}

.heading {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 1px solid var(--main-color);
}

.movies {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.movies-container {
  max-width: 968px;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, auto));
  gap: 1rem;
  margin-top: 2rem;
}

.box img {
  border-radius: 0.3rem;
}

.box .box-img {
  width: 100%;
  height: 270px;
}

.box .box-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.2s ease;
  cursor: pointer;
}

.box .box-img img:hover {
  transform: translateY(-5px);
}

.box .box-img-swiper {
  width: 100%;
  height: 100%;
  position: relative;
}

.box .box-img-swiper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.2s ease;
  cursor: pointer;
}

/* HOVER OVER IMG EFFECT */
.image__img {
  display: block;
  width: 100%;
}

.image__overlay {
  border-radius: 0.3rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgb(2, 3, 7, 0.4);
  color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.25s;
}

.image__overlay > * {
  transform: translatey(20px);
  transition: transform 0.25s;
}

.image__overlay:hover {
  opacity: 1;
}

.image__overlay:hover > * {
  transform: translateY(0);
}

.image__overlay--blur {
  backdrop-filter: blur(5px);
}

/*  */

.box h1 {
  margin-top: 10px;
  text-align: center;
  margin: 0 1rem;
  font-size: 1rem;
  font-weight: 500;
}

.box h2 {
  font-size: 0.8rem;
  font-weight: 500;
}

.box h3 {
  font-size: 0.8rem;
  font-weight: 500;
  margin: 5px 0px 10px 0px;
}

.box p {
  font-size: 0.8rem;
}

.box p i {
  margin-left: 2px;
}

.box p span {
  font-size: 0.8rem;
  padding: 1px 3px;
  margin-left: 2px;
  background: yellow;
  color: black;
  font-weight: 600;
}

.box h3 span {
  background: black;
  color: white;
  font-size: 10px;
  margin: 0px 1px;
  padding: 1px 10px;
  border-radius: 10px;
  border: 1px solid white;
}

.coming {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.coming-container {
  height: auto;
  max-width: 1368px;
  height: 350px;
  margin-top: 2rem;
}

.coming-container .box-img img:hover {
  transform: translateY(0);
}

/* Swiper Buttons */
.coming-container .swiper-button-next {
  color: var(--main-color);
  padding: 1rem;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.822);
}

.coming-container .swiper-button-next:hover {
  background: rgb(0, 0, 0);
}

.coming-container .swiper-button-prev {
  color: var(--main-color);
  padding: 1rem;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.822);
}

.coming-container .swiper-button-prev:hover {
  background: rgb(0, 0, 0);
}

.newsletter {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 2rem;
}

.newsletter h2 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
}

.newsletter form {
  background: var(--bg-color);
  padding: 10px;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
}

.newsletter form input {
  border: none;
  outline: none;
}

.newsletter form .email {
  width: 280px;
}

.newsletter form input::placeholder {
  color: var(--text-color);
  font-size: 0.8rem;
  font-weight: 400;
  background: var(--bg-color);
}

.newsletter .btn {
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}

.footer {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.social {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.social .bx {
  background: var(--bg-color);
  pad: 2px;
  font-size: 2rem;
  border-radius: 50%;
  border: 4px solid rgb(2, 3, 7, 0.4);
  color: var(--main-color);
}

.social .bx:hover {
  background: var(--main-color);
  color: var(--bg-color);
  transition: 0.2s all linear;
}

.tvshows-header,
.movies-header,
.upcoming-movies-tvshows {
  font-size: 6rem;
  font-weight: 100;
  padding-bottom: 5rem;
}
